apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    k8s-app: prometheus-operator
  name: prometheus-operator
  namespace: monitoring
spec:
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: prometheus-operator
    spec:
      containers:
      - args:
        - --kubelet-service=kube-system/kubelet
        - --config-reloader-image=172.25.52.217:5000/quay.io/coreos/configmap-reload:v0.0.1
        ### prometheus default version v2.3.1
        - --prometheus-default-base-image=172.25.52.217:5000/quay.io/prometheus/prometheus
        - --prometheus-config-reloader=172.25.52.217:5000/quay.io/coreos/prometheus-config-reloader:v0.22.0
        - --thanos-default-base-image=172.25.52.217:5000/improbable/thanos
        image: 172.25.52.217:5000/quay.io/coreos/prometheus-operator:v0.22.0
        name: prometheus-operator
        ports:
        - containerPort: 8080
          name: http
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
      serviceAccountName: prometheus-operator
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
